Отчёт о тестировании Credit Card Number Validator
Краткое описание
15.09.2020 - 16.09.2020 было проведено тестирование условий методом белого ящика приложения Credit Card Number Validator.

На тестирование затрачено: 3 часа

В результате тестирования выявлены следующие дефекты:
* [https://github.com/IrinaVasilenko88/Java-Homework-Credit-Card-Number-Validator/issues/1]
* [https://github.com/IrinaVasilenko88/Java-Homework-Credit-Card-Number-Validator/issues/2]
* [https://github.com/IrinaVasilenko88/Java-Homework-Credit-Card-Number-Validator/issues/3]

Описание процесса тестирования

 процессе тестирования использовались следующие артефакты*:

* Руководство по установке IntelliJ IDEA 
* Баг-репорты (İssues)
* Отчет о тестировании

В качестве тестовых данных использовались данные :

* 4539312509953015 ожидаемый результат OK
* 36705064278700 ожидаемый результат OK
* 367050642787005 ожидаемый результат OK
* 6011220367831959471 ожидаемый результат OK
Тестирование производилось в следующем окружении:

* Windows 10 Home
* JDK 11
* IntelliJ IDEA Community 2020.2.1